@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Base Styles */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  width: 100%;
  height: 100%;

  color: black;
  background-color: black;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;

  position: absolute;

  margin-top: 140px;
  margin-left: 2em;

  color: whitesmoke;
}

table {
  width: 100%;
  margin: auto;
  margin-top: -120px;
}

tbody {
  display: block;
  overflow: auto;
  height: 300px;
}

tr {
  height: 28px;
}

nav {
  text-align: center;
}

ul {
  margin: 15px 0;
  padding: 0;
}

li {
  font-size: 0.75rem;

  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
.delete-button:hover {
  color: rgb(165, 165, 165);
}

/* Modules */

.container {
  overflow: hidden;

  width: 100%;
  height: 100vh;
  min-height: 600px;
  margin: auto;
  padding: 15px;

  color: black;
  background-color: whitesmoke;
}

.circle {
  position: relative;
  right: 4rem;
  bottom: 8rem;

  width: 15rem;
  height: 15rem;

  border-radius: 50%;
  background-image: radial-gradient(rgb(66, 66, 66) 5%, rgb(29, 29, 29) 95%);
  box-shadow: 4px 4px 8px #555;
}

.the-word-list {
  position: relative;
  bottom: 170px;
  left: 150px;
  font-size: 2.5rem;
  color: grey;
}

.plus-add-btn {
  width: 50px;
  height: 50px;
  margin: 25px 0 0 79%;

  cursor: pointer;

  color: whitesmoke;
  border-radius: 50%;
  background-color: black;
  box-shadow: 4px 4px 8px #555;
}

.plus-add-btn:hover {
  color: rgba(194, 28, 16, 0.89);
}

.plus-add-btn span {
  font-size: 1.6rem;

  position: relative;
  top: 5px;
  left: 16.5px;
}

.add-todo-container,
.edit-todo-container {
  top: 100vh;
  left: 5%;

  width: 90%;
  margin: 0 auto;

  border: 2px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
}

.add-todo-container {
  transform: translate(0, 300px);
}

.edit-todo-container {
  margin-top: 100px;
}

.add-todo-container__add-btn {
  display: block;

  margin: 4rem auto 2rem auto;
  padding: 10px 10px 15px 10px;

  text-align: center;

  color: whitesmoke;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
}

h2 {
  margin: 2rem 0 0 2rem;
}

.form-container {
  width: 60%;
  margin: auto;
  margin-top: 15px;
}

input[type="text"] {
  font-size: 1rem;

  display: inline;

  width: 100%;
  margin-top: 50px;
  padding: 0;

  border: none;
  border-bottom: 2px solid black;
  background-color: whitesmoke;
}

input:focus {
  outline: none;
}

.checkbox {
  width: 30px;
}

.hide {
  visibility: hidden;
}

.text-cell {
  overflow: hidden;

  width: 75%;
  max-width: 230px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.pencil {
  font-size: 0.7rem;

  margin: 0 5px 0 8px;

  color: black;
}

.delete-button {
  cursor: pointer;

  color: black;
}

/* Text Strike-through */
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.strike {
  position: relative;
}
.strike::after {
  position: absolute;
  top: 57%;
  left: 0;

  width: 100%;
  height: 1px;

  content: " ";
  animation-name: strike;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  background: rgb(153, 2, 2);

  animation-fill-mode: forwards;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
  .container {
    width: 24%;
    height: 600px;
    margin-top: 2%;
  }

  .add-todo-container {
    width: 100%;
  }
}
