@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Base Styles */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  width: 100%;
  height: 100%;

  color: whitesmoke;
  background-color: rgb(56, 56, 56);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;

  text-align: center;

  color: rgba(218, 41, 28, 0.472);
}

h2 {
  font-size: 1.5rem;

  text-align: center;

  color: rgba(218, 41, 28, 0.561);
}

table {
  margin: auto;
  width: 100%;
}

nav {
  text-align: center;
}

ul {
  margin: 15px 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 0.75rem;
}

a {
  color: rgba(218, 41, 28, 0.89);
  text-decoration: none;
}

a:hover {
  color: rgb(75, 149, 94);
}

/* Modules */

.container {
  width: 90%;
  /* min-height: 200px; */
  margin: auto;
  padding: 15px;

  color: rgba(218, 41, 28, 0.822);
  border-radius: 4px;
  background-color: rgb(97, 190, 230);
  box-shadow: 4px 4px 8px #000;
}

.form-container {
  font-weight: bold;

  width: 60%;
  margin: auto;
  margin-top: 15px;
}

input[type="text"] {
  display: inline;

  width: 80%;
  padding: 0;

  border: none;
  border-bottom: 2px solid black;
  background-color: rgb(97, 190, 230);
}

input:focus {
  outline: none;
  background-color: rgb(97, 190, 230);
}

.plus-add-btn {
  margin-right: 15px;
  /* padding-left: 5px; */
  cursor: pointer;
  color: black;
}

.plus-add-btn:hover {
  color: rgba(218, 41, 28, 0.89);
}

.text-cell {
  overflow: hidden;

  width: 70%;
  max-width: 230px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.pencil {
  font-size: 0.7rem;
  margin: 0 5px 0 8px;
  color: rgba(218, 41, 28, 0.89);
}

.delete-button {
  color: rgb(75, 149, 94);
  cursor: pointer;
}

/* Text Strike-through */
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.strike {
  position: relative;
}
.strike::after {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 1px;

  content: " ";
  animation-name: strike;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  background: black;

  animation-fill-mode: forwards;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
  .container {
    width: 35%;
  }

  /* .edit-todo-container {
    width: 35%;
  } */
}
